@model LogInUsingLinkedinApp.Models.UserInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Profile</title>
</head>
<body style="border:0px;background-color:black;color:white">
    <table style="width:100%;border:0px">
        <tr>
            <td><img src="@Html.DisplayFor(model => model.PictureUrl)" /></td>
            <td>
                <i style="color:yellow;font-size:23px">@Html.DisplayFor(model => model.EmailAddress)</i>
                <a href="~/Home/SignOut" style="border:1px dashed yellow;border-radius:4px;padding:8px;color:orange;font-size:17px">SignOut</a>
                <p>
                    <b style="color:yellow">Summary : </b>@Html.DisplayFor(model => model.Summary)
                </p>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div>
                    <p>
                        <b style="color:yellow"> First Name : </b>@Html.DisplayFor(model => model.FirstName)
                    </p>
                    <p>
                        <b style="color:yellow"> Maiden Name :</b> @Html.DisplayFor(model => model.MaidenName)
                    </p>
                    <p>
                        <b style="color:yellow"> Last Name : </b> @Html.DisplayFor(model => model.LastName)
                    </p>
                    <p>
                        <b style="color:yellow">Formatted Name :</b> @Html.DisplayFor(model => model.FormattedName)
                    </p>
                    <p>
                        <b style="color:yellow"> HeadLine : </b> @Html.DisplayFor(model => model.Headline)
                    </p>
                    <p>
                        <b style="color:yellow"> Public Profile Url : </b><a href="@Html.DisplayFor(model => model.PublicProfileUrl)">@Html.DisplayFor(model => model.PublicProfileUrl)</a>
                    </p>
                    <p>
                        <b style="color:yellow"> Industry :</b> @Html.DisplayFor(model => model.Industry)
                    </p>
                    <p>
                        <b style="color:yellow"> Connections : </b> @Html.DisplayFor(model => model.NumConnections)
                    </p>
                    <p>
                        <b style="color:yellow"> Connections capped :</b> @Html.DisplayFor(model => model.NumConnectionsCapped)
                    </p>

                </div>
            </td>
        </tr>
        @if (Model.Positions != null)
        {
            <tr>
                <td>
                </td>
                <td>
                    <div>
                        <b style="color:yellow">Positions: </b>
                        <p>Total : @Model.Positions.Total</p>
                        @if (Model.Positions.Values != null)
                        {
                            foreach (var data in Model.Positions.Values)
                            {
                                <div style="padding:20px;border:1px dotted white;border-bottom:1px dotted white;">
                                    <p>
                                        <b style="color: antiquewhite">Id :</b> @data.Id
                                    </p>
                                    <p>
                                        <b style="color: antiquewhite">Company :</b> @data.Company.Name | Industry : @data.Company.Industry | Id : @data.Company.Id | Size :@data.Company.Size | Type: @data.Company.Type
                                    </p>

                                    <p>
                                        <b style="color: antiquewhite">IsCurrent :</b>@data.IsCurrent
                                    </p>
                                    <p>
                                        <b style="color: antiquewhite">Location :</b> @data.Location.Country.Code | @data.Location.Country.Name
                                    </p>
                                    <p>
                                        <b style="color: antiquewhite">Start Date :</b> Month : @data.StartDate.Month | Year : @data.StartDate.Year
                                    </p>
                                    <p>
                                        <b style="color: antiquewhite">Title :</b>@data.Title
                                    </p>
                                </div>
                            }
                        }
                    </div>
                </td>
            </tr>
        }

        <tr>
            <td></td>
            <td>
                @if (Model.SiteStandardProfileRequest != null)
                {
                    <p>
                        <b style="color: yellow"> SiteStandardProfileRequest :</b> <a href="@Model.SiteStandardProfileRequest.Url">@Model.SiteStandardProfileRequest.Url</a>
                    </p>
                }
                @if (Model.ApiStandardProfileRequest != null)
                {
                    <div>
                        <b style="color:yellow">
                            ApiStandardProfileRequest :
                        </b>
                        <p>
                            <b style="color: antiquewhite">url : </b><a href="@Model.ApiStandardProfileRequest.Url">@Model.SiteStandardProfileRequest.Url</a>
                        </p>
                        <b style="color:antiquewhite">Header : </b>
                        @if (Model.ApiStandardProfileRequest.Headers != null)
                        {
                            <div style="padding:15px">
                                <b style="color:antiquewhite">
                                    Total :
                                </b> @Model.ApiStandardProfileRequest.Headers.Total<br />
                                <b style="color:antiquewhite">Values:</b>
                                @foreach (var value in @Model.ApiStandardProfileRequest.Headers.Values)
                                {
                                    <p>
                                        <i>Name :@value.Name , Value :@value.Value</i>
                                    </p>

                                }
                            </div>
                        }
                    </div>
                }
            </td>
        </tr>
    </table>
</body>
</html>
